<div class="filters-wrapper">
  <tw-autocomplete
    [formFieldStyles]="fullWidth"
    [label]="labelType"
    [options]="optionsType"
    [loading]="loadingType"
    (onChangeAutocomplete)="onChangeType($event)"
    (onErrorDetected)="onErrorType($event)"
  />

  <tw-autocomplete
    [formFieldStyles]="fullWidth"
    [label]="labelBrand"
    [options]="optionsBrand"
    [loading]="loadingBrand"
    (onChangeAutocomplete)="onChangeBrand($event)"
    (onErrorDetected)="onErrorBrand($event)"
  />

  <tw-autocomplete
    [formFieldStyles]="fullWidth"
    [label]="labelSize"
    [options]="optionsSize"
    [loading]="loadingSize"
    (onChangeAutocomplete)="onChangeSize($event)"
    (onErrorDetected)="onErrorSize($event)"
  />

  <button
    mat-flat-button
    class="search"
    [disabled]="disabledSearch"
    (click)="search()"
  >
    Buscar
  </button>
</div>
