<div class="container">
  <ng-content></ng-content>

  <table mat-table [dataSource]="dataSource">
    <ng-container
      [matColumnDef]="record.field"
      *ngFor="let record of metaColumns"
      [sticky]="record.sticky"
    >
      <th
        mat-header-cell
        *matHeaderCellDef
        [ngStyle]="{ width: record.size, 'min-width': record.size }"
      >
        {{ record.title }}
      </th>
      <td
        mat-cell
        *matCellDef="let row"
        [ngStyle]="{ width: record.size, 'min-width': record.size }"
      >
        {{ row[record.field] }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="listFields; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: listFields"
      class="highline"
      (click)="selectRow(row)"
    ></tr>
  </table>

  <div *ngIf="dataSource.length === 0 && !loading" class="no-records">
    {{ noDataMessage }}
  </div>
</div>
