<mat-tree
  [dataSource]="dataSource"
  [treeControl]="treeControl"
  class="menu-tree"
>
  <!-- Expandable node -->
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodeToggle>
    <div class="menu-item" [style.paddingLeft.px]="node.level * 16 + 16">
      <mat-icon class="menu-icon">{{ node.icon }}</mat-icon>
      <span class="label">{{ node.label }}</span>
      <mat-icon class="expand-icon">
        {{ treeControl.isExpanded(node) ? "expand_less" : "expand_more" }}
      </mat-icon>
    </div>
  </mat-tree-node>

  <!-- Leaf node -->
  <mat-tree-node *matTreeNodeDef="let node">
    <a
      class="menu-item"
      [routerLink]="node.route"
      routerLinkActive="active"
      [style.paddingLeft.px]="node.level * 16 + 16"
    >
      <mat-icon class="menu-icon">{{ node.icon }}</mat-icon>
      <span class="label">{{ node.label }}</span>
    </a>
  </mat-tree-node>
</mat-tree>
