<mat-sidenav-container>
  <mat-sidenav
    [opened]="isOpened"
    [mode]="isMobile ? 'over' : 'side'"
    [disableClose]="isMobile"
    *ngIf="!layout.menuHidden"
  >
    <div class="logo"></div>

    <button
      *ngIf="isMobile"
      mat-icon-button
      class="close-btn"
      (click)="toggleSidenav()"
    >
      <mat-icon>close</mat-icon>
    </button>
    <tw-menu></tw-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <tw-header
      (onToggleMenu)="toggleSidenav()"
      *ngIf="!layout.headerHidden"
    ></tw-header>

    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
