<div class="toolbar">
  <div class="info">
    <div class="icon-container">
      <mat-icon
        *ngIf="inDeletionPage; else normalIcon"
        color="primary"
        class="info-icon"
      >
        folder_delete
      </mat-icon>

      <ng-template #normalIcon>
        <mat-icon
          *ngIf="menuItem.foreignToMaterial; else foreignIcon"
          [svgIcon]="menuItem.icon"
          class="info-icon"
        >
        </mat-icon>

        <ng-template #foreignIcon>
          <mat-icon color="primary" class="info-icon">
            {{ menuItem.icon }}
          </mat-icon>
        </ng-template>
      </ng-template>
    </div>
    <h2>{{ title }}</h2>

    <button
      *ngIf="hardDeletionEnabled"
      mat-icon-button
      class="folder-delete"
      (click)="switchPages()"
    >
      <mat-icon *ngIf="!inDeletionPage; else normalIcon">
        folder_delete
      </mat-icon>

      <ng-template #normalIcon>
        <mat-icon
          *ngIf="menuItem.foreignToMaterial; else foreignIcon"
          [svgIcon]="menuItem.icon"
        >
        </mat-icon>

        <ng-template #foreignIcon>
          <mat-icon>
            {{ menuItem.icon }}
          </mat-icon>
        </ng-template>
      </ng-template>
    </button>
  </div>

  <div class="action">
    <ng-content select="[btnAction]"></ng-content>
  </div>
</div>
